body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 300%;
}

footer {
    font-size: 30%;
    color: #eee;
}

footer a {
    color: #dde;
}

#rung {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #eee;
    padding-bottom: 0.2em;
{
